<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javawebxx.dao.ShDao">
	<resultMap id="BaseResultMap" type="com.javawebxx.model.Sh">
		<id column="ssId" property="ssId"/>
		<id column="shqk" property="shqk"/>
		<id column="isxf" property="isxf"/>
		<id column="beginDate" property="beginDate"/>
		<id column="endDate" property="endDate"/>
		<id column="remark" property="remark"/>
	</resultMap>
	
	<insert id="insert">
		insert into t_sh(ssId,shqk,isxf,beginDate,endDate,remark) values(#{ssId},#{shqk},#{isxf},#{beginDate},#{endDate},#{remark})
	</insert>
	
	<update id="update">
	 update t_sh
	 <trim prefix="set" suffixOverrides=",">
	  <if test="ssId!=null">ssId=#{ssId},</if>
	  <if test="shqk!=null">shqk=#{shqk},</if>
	  <if test="isxf!=null">isxf=#{isxf},</if>
	  <if test="beginDate!=null">beginDate=#{beginDate},</if>
	  <if test="endDate!=null">endDate=#{endDate},</if>
	  <if test="remark!=null">remark=#{remark},</if>
	 </trim>
	 where id=#{id}
	</update>
	<select id="getById" resultMap="BaseResultMap"
		parameterType="com.javawebxx.model.Sh">
		select * from t_sh where id=#{id}
	</select>
	
	<delete id="delete">  
        delete from t_sh where id=#{id}
	</delete>
	<select id="queryForList" resultMap="BaseResultMap"
		parameterType="com.javawebxx.model.Sh">
		select * from t_sh where 1=1 
	</select>
</mapper>
