<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javawebxx.dao.SsDao">
	<resultMap id="BaseResultMap" type="com.javawebxx.model.Ss">
		<id column="ssName" property="ssName"/>
		<id column="sg" property="sg"/>
		<id column="zcw" property="zcw"/>
		<id column="sycw" property="sycw"/>
		<id column="remark" property="remark"/>
	</resultMap>
	
	<insert id="insert">
		insert into t_ss(ssName,sg,zcw,sycw,remark) values(#{ssName},#{sg},#{zcw},#{sycw},#{remark})
	</insert>
	
	<update id="update">
	 update t_ss
	 <trim prefix="set" suffixOverrides=",">
	  <if test="ssName!=null">ssName=#{ssName},</if>
	  <if test="sg!=null">sg=#{sg},</if>
	  <if test="zcw!=null">zcw=#{zcw},</if>
	  <if test="sycw!=null">sycw=#{sycw},</if>
	  <if test="remark!=null">remark=#{remark},</if>
	 </trim>
	 where id=#{id}
	</update>
	<select id="getById" resultMap="BaseResultMap"
		parameterType="com.javawebxx.model.Ss">
		select * from t_ss where id=#{id}
	</select>
	
	<delete id="delete">  
        delete from t_ss where id=#{id}
	</delete>
	<select id="queryForList" resultMap="BaseResultMap"
		parameterType="com.javawebxx.model.Ss">
		select * from t_ss where 1=1 
	</select>
</mapper>
